<div class="row" style="margin-bottom:4rem;">
	
	<div class="col-12 col-sm-10 sm-offset-1">
		<h2 class="cart-title"> Shopping Summary </h1>
	</div>
	<div class="col-12 col-sm-10 sm-offset-1">
		<table class="table table-responsive table-striped table-bordered" ng-if="!cartCtrl.showCartIcon">
			<thead>
			<tr>
				
				<th class="w-50">Product</th>
				<th class="w-25">Quantity</th>
				<th class="w-15">Price</th>
				<th class="w-10">Total</th>
			</tr>
			</thead>
			<tbody ng-repeat = "items in cartCtrl.cartItems">
				<tr>
					
					<td style="display: flex;justify-content: space-between">{{ items.productName }}
						<button class="btn btn-danger btn-sm" ng-click="cartCtrl.deleteItem(items.productId)">
							<span><i class="fa fa-trash"></i></span>
						</button>
					</td>
					<td>{{ items.amount }}</td>
					<td>{{ items.price }}</td>
					<td>Rs {{ (items.price) * (items.amount) }}</td>

				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row" ng-if="cartCtrl.showCartIcon">
	<div class="col-12 text-center">
		<span><i class="fa fa-shopping-cart fa-5x" style="color:dimgray"></i></span>
		<h6 class="text-muted">No products available</h6>
	</div>	
</div>

