 


        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <div class="card" style="border: 1px solid red;">
              <div class="card-block">
                <h3 class="card-title text-center">Login</h3>
                <form ng-submit = "loginCtrl.submitLogin()">
                  <div class="form-group">
                    <label for="Email">Email address</label>
                    <input type="email" name="inputEmail" ng-model="loginCtrl.email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="inputPassword" ng-model="loginCtrl.password" class="form-control" id="Password" placeholder="Enter Password" required>
                  </div>
                  <button type="submit" class="btn btn-success" style="margin-bottom: 1rem;">Log-in</button>
                  <small class="text-muted"><a ng-href="#/mail/forgot">Forgot Password?</a></small>
                </form>
                <div class="card-footer text-muted">
                  <a ng-href="#/user/signup">Sign-up for new user</a>
                </div>
              </div>
            </div>
          </div>
        </div>
