body{

	padding-top:60px;
}

.signup-home{

	background-image: url("images/shop-home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.dash-card{
	background: linear-gradient(to right,#ece8e8,#e4e4e2);
}

.edit-card{
	padding: 1.5rem;
}

.all-products{
	margin-top: 2rem;
	border: 1px solid black;
	border-radius: 5%; 
	padding: 2rem;
	background: linear-gradient(to bottom,#e6e2e2,#dcd6d6);
}

.fa-heart:hover{
	box-shadow: 1px 2px 8px 0.5;
	color: #3A8BAB;
}

.cart-title{
	color: #202121;
	/*text-shadow: 1px 1px 1px #000, 3px 3px 5px #585353 ;*/
	text-shadow:  1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc;
	padding: 1rem;
	background-color: #009688;
}

.footer-style{
	position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
	padding: 5px;
	background-color: #222222;
	color: ghostwhite; 
	border-top:5px solid gray;
	margin-top: 30px;
}