	

	body{

		padding-top:90px;
	}

	/*NAVLINKS*/
	ul .nav-item{
		padding: 0.75rem;
	}

	a:hover{
		text-decoration: none;
	}

	/*SIGNUP-PAGE ELEMENT(or)DIV */
	.signup-home{

		background-image: url("images/shop-home.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

    /*DASHBOARD RECENTLY ADDED CARD*/
	.dash-card{
		/*background: linear-gradient(to right,#ece8e8,#e4e4e2);*/
		background: linear-gradient(to top,#f1ede1,#e9aba7);
	}

	/*CREATE AND VIEW PRODUCTS BUTTONS*/
	.dash-button{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		color: #160b09;
		margin-top: 0.6rem;
	}

	@media screen and (max-width:480px){
		.dash-button{
			
			flex-direction: column;
			
		}
	}

	/*ELEMENT FOR EDIT A PRODUCT*/
	.edit-card{
		padding: 1.5rem;
	}

	/*ELEMENT ON ALL-PRODUCTS PAGE*/
	.all-products{
		margin-top: 2rem;
        padding: 2rem;
	    background: linear-gradient(to right,#e6baba,#b7ec79);
	}

	.all-products ul .list-group-item{
		padding: 1.5rem;
	}
	
	/*CART PAGE TITLE ELEMENT*/
	.cart-title{
		
         font-family: 'Berkshire Swash', cursive;
		padding: 2rem;
		background-color: gainsboro;
	}

	/*CART-PAGE USER-TITLE (topRight)*/
	.user-title{
		padding-top: 1rem;
	 	 color: black;
   		 background-color: tan;
	}

	.table th{
		text-align: center;
	}

	/*BUTTONS INSIDE QUANTITY SECTION (cart-page)*/
	.cart-button{
		display: block;
		margin: 0.5rem auto;
	}

	.product-flex{
		display: flex;
   	 	flex-direction: column;
    	align-items: center;
	}

	/*.cart-card{
		border: 1px solid #b0aaa8;
    	background-color: #b0aaa8;
	}

	.cart-quantity{

		display: flex; 
		flex-direction :column;
		align-items: center;;
	}*/

	.alert-style{
		margin-top: 10rem;
		text-align: center;
		background-color: #59b3aa;
	}

	@media screen and (max-width:767px){
		.alert-style{
			margin-top: 2rem;
		}
	}

	.footer-style{
		/*position: fixed;*/
		padding: 5px;
		background-color: #222222;
		color: ghostwhite; 
		border-top:5px solid gray;
		margin-top: 30px;
	}